# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.venv/
env/

# VS Code
.vscode/

# Generated encrypted files
*.enc

# Benchmark results
*.csv

*.pkl

*.joblib

# OS files
.DS_Store
Thumbs.db

*.xml
*.zip
*.txt
*.png
*.jpg
*.mp3
*.mp4
*.pdf
*.docx
*.json
*.jsonl